* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  position: relative;
  height: 100vh;
  background-color: #ffffff;
  user-select: none;
}

@font-face {
  font-family: "GaramondBold";
  src: url("fonts/GaramondPremrPro-Bd.otf");
}

@font-face {
  font-family: "GaramondRegular";
  src: url("fonts/GaramondPremrPro.otf");
}

.title {
  font-family: "GaramondBold";
  position: absolute;
  font-size: 4rem;
  color: #000000;
  left: 4rem;
  top: 2rem;
}

#my_dataviz {
  margin-left: 50px;
  margin-top: 100px;
}

#sidebar {
  position: absolute;
  display: flex;
  background-color: white;
  height: 100vh;
  right: 0;
  border-left: 2px solid #848484;
}

.accordion {
  width: 300px;
  margin-top: 3rem;
}

.accordion .content-box {
  position: relative;
  margin: 0px 20px;
}

.accordion .content-box .label {
  font-family: "GaramondRegular";
  font-size: 1.5rem;
  position: relative;
  padding: 10px;
  color: #000000;
  cursor: pointer;
  border-top: 2px solid rgba(241, 241, 241, 0.6);
}

.accordion .content-box .label::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1em;
}

.accordion .content-box.active .label::before {
  content: "-";
}

.accordion .content-box .content {
  position: relative;
  font-family: "GaramondRegular";
  font-size: 1rem;
  padding: 0 10px 0 10px;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}

.accordion .content-box.active .content {
  height: 100px;
  padding: 10px;
}

.accordion .content-box .content .content-desc {
  padding-bottom: 5px;
}
.accordion .content-box .content .content-desc img {
  padding-right: 20px;
}

.class_1 {
  font-family: "GaramondRegular";
  font-size: 1rem;
  position: absolute;
  top: 200px;
  left: 20px;
  z-index: 1;
}

.class_2 {
  font-family: "GaramondRegular";
  font-size: 1rem;
  position: absolute;
  top: 400px;
  left: 20px;
  z-index: 1;
}

.class_3 {
  font-family: "GaramondRegular";
  font-size: 1rem;
  position: absolute;
  top: 600px;
  left: 20px;
  z-index: 1;
}

.x_axis {
  font-family: "GaramondRegular";
  font-size: 1rem;
  position: absolute;
  bottom: 15px;
  left: 110px;
  z-index: 1;
}
